@model ScopoERP.Reports.ViewModel.ReportFilteringViewModel

@{
    ViewBag.Title = "Bank Forwarding Report";
}

<div class="col-sm-offset-3 col-sm-6">
    <section class="panel">
        <header class="panel-heading">
            Search Criteria
        </header>
        <div class="panel-body">

            @using (Html.BeginForm("BankForwardingReport", "Report", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-1">
                        @Html.RadioButtonFor(model => model.Decision, 1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Decision)
                    </div>
                    <label class="col-lg-3 col-sm-3 control-label left-label">ASWL</label>

                    <div class="col-lg-1">
                        @Html.RadioButtonFor(model => model.Decision, 2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Decision)
                    </div>
                    <label class="col-lg-3 col-sm-3 control-label left-label">DMC</label>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-1">
                        @Html.RadioButtonFor(model => model.ShipmentMode, 1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ShipmentMode)
                    </div>
                    <label class="col-lg-3 col-sm-3 control-label left-label">Sea</label>

                    <div class="col-lg-1">
                        @Html.RadioButtonFor(model => model.ShipmentMode, 2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ShipmentMode)
                    </div>
                    <label class="col-lg-3 col-sm-3 control-label left-label">Air</label>
                </div>

                <div class="form-group">
                    <label class="col-lg-4 col-sm-4 control-label">Bank Forwarding No</label>
                    <div class="col-lg-8">
                        @Html.DropDownListFor(model => model.BankForwardingID, ViewBag.BankForwardingList as SelectList, "", new { @class = "combo-box" })
                        @Html.ValidationMessageFor(model => model.BankForwardingID)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-4">
                        <input type="reset" class="btn btn-block btn-default" />
                    </div>
                    <div class="col-lg-4">
                        <input type="submit" class="btn btn-block btn-primary" value="Preview" />
                    </div>
                </div>
            }

        </div>
    </section>
</div>

