@model ScopoERP.Reports.ViewModel.ReportFilteringViewModel

@{
    ViewBag.Title = "Job Status Report";
}

<div class="col-sm-offset-3 col-sm-6">
    <section class="panel">
        <header class="panel-heading">
            Search Criteria
        </header>
        <div class="panel-body">

            @using (Html.BeginForm("JobStatusReport", "Report", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.JobNo)

                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-1">
                        @Html.RadioButtonFor(model => model.Decision, 1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Decision)
                    </div>
                    <label class="col-lg-3 col-sm-3 control-label left-label">Details</label>

                    <div class="col-lg-1">
                        @Html.RadioButtonFor(model => model.Decision, 2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Decision)
                    </div>
                    <label class="col-lg-3 col-sm-3 control-label left-label">Summary</label>
                </div>
                
                <div class="form-group">
                    <label class="col-lg-4 col-sm-4 control-label">Year</label>
                    <div class="col-lg-8">
                        @Html.DropDownListFor(model => model.Year, ViewBag.Years as SelectList, "", new { @class = "combo-box" })
                        @Html.ValidationMessageFor(model => model.Year)
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-lg-4 col-sm-4 control-label">Job No</label>
                    <div class="col-lg-8">
                        @Html.DropDownListFor(model => model.JobID, ViewBag.Job as SelectList, "", new { @class = "combo-box" })
                        @Html.ValidationMessageFor(model => model.JobID)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-4">
                        <input type="reset" class="btn btn-block btn-default" />
                    </div>
                    <div class="col-lg-4">
                        <input type="submit" class="btn btn-block btn-primary" value="Preview" />
                    </div>
                </div>
            }

        </div>
    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#JobID').change(function () {

            $('#JobNo').val($('#JobID option:selected').text());
        });

        $('input[type=radio][name=Decision]').change(function () {
            if (this.value == 1) {
                $('#Year').prop('disabled', true);
                $('#Year').select2('val', '');

                $('#JobID').prop('disabled', false);
            } else {
                $('#Year').prop('disabled', false);
                $('#JobID').prop('disabled', true);
                $('#JobID').select2('val', '');
            }
        })
    })
</script>