@model ScopoERP.Store.ViewModel.ImportChalanViewModel
@{
    ViewBag.Title = "Create";
}
<div class="col-sm-12">
    <section class="panel">
        <header class="panel-heading">
            Create New Chalan
        </header>
        <div class="panel-body">

            @using (Html.BeginForm("Create", "InventoryReceive", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 control-label">Chalan No</label>
                    <div class="col-lg-3">
                        @Html.TextBoxFor(model => model.BLNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BLNo)
                    </div>

                    <label class="col-lg-3 col-sm-3 control-label">Chalan Date</label>
                    <div class="col-lg-3">
                        @Html.TextBoxFor(model => model.BLDate, new { @class = "form-control default-date-picker" })
                        @Html.ValidationMessageFor(model => model.BLDate)
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <div class="col-lg-offset-6 col-lg-3">
                        @Html.ActionLink("Cancel", "Index", "InventoryReceive", null, new { @class = "btn btn-block btn-default" })
                    </div>
                    <div class="col-lg-3">
                        <input type="submit" class="btn btn-block btn-primary" value="Save" />
                    </div>
                </div>
            }

        </div>
    </section>
</div>

