@model ScopoERP.Production.ViewModel.MachineViewModel
@{
    ViewBag.Title = "Create Machine";
}

@{
    var listItems = new List<SelectListItem>
{
      new SelectListItem { Text = "Good", Value = "0" },
      new SelectListItem { Text = "Mredium", Value = "1" },
      new SelectListItem { Text = "Poor", Value = "2" }
};
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-solid">
            <div class="card-body">
                <div class="col-sm-12">
                    @using (Html.BeginForm("Create", "Machine", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.ValidationSummary(true)
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="col-lg-12">Unit</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(model => model.Unit, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Unit)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-lg-12">AG</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(model => model.AG, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AG)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-lg-12">Brand Name</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(model => model.BrandName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BrandName)
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="col-lg-12">Machine Category</label>
                                <div class="col-lg-12">
                                    @Html.DropDownListFor(model => model.MachineCategoryID, ViewBag.MachineCategory as SelectList, "", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MachineCategoryID)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-lg-12">Machine Code</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(model => model.MachineCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MachineCode)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-lg-12">Machine Condition</label>
                                <div class="col-lg-12">
                                    @Html.DropDownListFor(model => model.MachineCondition, new SelectList(listItems, "Value", "Text"), "-- Select Condition --", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="col-lg-12">Mobile No</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MobileNo)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-lg-12">M/C Value</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(model => model.MCValue, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MCValue)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-lg-12">Book Value</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(model => model.BookValue, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BookValue)
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="col-lg-12">Loan To</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(model => model.LoanTo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LoanTo)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-lg-12">Loan From</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(model => model.LoanFrom, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LoanFrom)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-lg-12">Remarks</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Remarks)
                                </div>
                            </div>
                        </div>

                        <div class="form-group row pull-right">
                            <div class="col">
                                @Html.ActionLink("Cancel", "Index", "Machine", null, new { @class = "btn btn-block btn-danger" })
                            </div>
                            <div class="col">
                                <input type="submit" class="btn btn-block btn-primary" value="Save" />
                            </div>
                        </div>

                    }


                </div>
            </div>
        </div>
    </div>
</div>

