@model ScopoERP.MaterialManagement.ViewModel.RequisitionViewModel

@{
    ViewBag.Title = "Create";
}

<div class="col-sm-offset-1 col-sm-10">
    <section class="panel">
        <header class="panel-heading">
            Create New Requsition
        </header>
        <div class="panel-body">

            @using (Html.BeginForm("Create", "Requisition", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Job</label>
                    <div class="col-lg-4">
                        @Html.DropDownListFor(model => model.JobID, ViewBag.Job as SelectList, "", new { @class = "combo-box" })
                        @Html.ValidationMessageFor(model => model.JobID)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Supplier</label>
                    <div class="col-lg-4">
                        @Html.DropDownListFor(model => model.SupplierID, ViewBag.SupplierList as SelectList, "", new { @class = "combo-box" })
                        @Html.ValidationMessageFor(model => model.SupplierID)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Requisition Serial</label>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(model => model.RequisitionSerial, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RequisitionSerial)
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Requisition Date</label>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(model => model.RequisitionDate, new { @class = "form-control default-date-picker" })
                        @Html.ValidationMessageFor(model => model.RequisitionDate)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">PI No</label>
                    <div class="col-lg-4">
                        <select id="piDropDown" class="combo-box"></select>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" class="btn btn-success btn-add">+</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-8">
                        <table class="table table-bordered" id="pi-table">
                            <thead>
                                <tr>
                                    <th>PI</th>
                                    <th>PI Value</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-4">
                        <label class="label label-success">
                            @TempData["requisitionNo"] is successfully created!!!
                        </label>
                    </div>
                    <div class="col-lg-2">
                        @Html.ActionLink("Cancel", "Index", "Requisition", null, new { @class = "btn btn-block btn-default" })
                    </div>
                    <div class="col-lg-2">
                        <input type="submit" class="btn btn-block btn-primary" value="Save" />
                    </div>
                </div>
            }
        </div>
    </section>
</div>

<script type="text/javascript">
    var formIndexing = function () {
        for (var i = 0; i < $('#pi-table tbody tr').length; i++) {
            $('#pi-table tbody').children().eq(i).children().children()
            .each(function () {
                if (this.name) {
                    this.name = this.name.replace(/\[(\d+)\]/, function (str, p1) {
                        return '[' + i + ']';
                    });
                }
            });
        }
    };

    $(document).ready(function () {
        $("#JobID").on('change', function () {

            var jobID = $(this).val();
            var piID = $('#piDropDown');

            $.get("/MaterialManagement/Requisition/GetPIDropDownByJob", { jobID: jobID },
                function (data) {

                    piID.empty();
                    piID.append($('<option/>', {
                        value: "",
                        text: ""
                    }));
                    $.each(data, function (index, itemData) {
                        piID.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));

                    })

                });
        });

        $(".btn-add").on('click', function () {
            var piID = $('#piDropDown');
            var piNo = $("#piDropDown option:selected").text();
            var tableVale = "";
            var checkPIExistsInTable = false;

            if (piID.val()) {
                $('#pi-table tbody tr .piIDRow').each(function () {
                    if ($(this).val() == piID.val()) {
                        checkPIExistsInTable = true;
                    }
                });
                if (checkPIExistsInTable) {
                    alertify.alert("This pi is already in the grid");
                    return;
                }

                $.ajax({
                    url: '/MaterialManagement/Requisition/GetPIValueByPIID',
                    data: { piID: piID.val() },
                    success: function (res) {
                        if (res.piValue >= 0) {
                            tableVale = "<tr><td>";
                            tableVale += "<input class='piIDRow' type='hidden' name='PIList[0].PIID' value='" + piID.val() + "' />";
                            tableVale += "<input type='text' class='form-control' name='PIList[0].PINo' value='" + piNo + "' disabled='' />";
                            tableVale += "</td>";
                            tableVale += "<td><input type='text' class='form-control' name='PIList[0].PIValue' value='" + res.piValue + "' disabled='' /></td>";
                            tableVale += "<td><a href='javascript:void(0);' id='btnRemove'><i class='fa fa-trash-o fa-2x'></i></a></td>";
                            tableVale += "</tr>";

                            $('#pi-table tbody').append(tableVale);
                        }
                    }
                }).promise().done(function () {
                    formIndexing();
                });
            } else {
                alertify.alert("Please select PI");
            }
        });

        $('#btnRemove').live('click', function () {
            $(this).parent().parent().remove();
            formIndexing();
        });
    });
</script>